<html>
    <head>
        <title>CMPE131</title>
		<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
	</head>
    <body>
        {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
            <ul class=flashes>
            {% for category, message in messages %}
              <li class="{{ category }}">{{ message }}</li>
            {% endfor %}
            </ul>
          {% endif %}
        {% endwith %}
		
        <a href="{{url_for('home')}}">Back to Home</a>
		<center><br/><h1>All Items</h1><br/>
		{% for user in users %}
			<table> {% for i in range(user.posts|length) %}
				<tr>
					{% if i|int() == 0 %}
						<th rowspan="{{user.posts|length}}" style="border:3px; border-style:solid; border-color:#FFBB00; padding: 1em;">
						<h2><a href="{{url_for('profile', username=user.username, id=user.id)}}">{{user.username}}</a></h2>
						</th>
					{% endif %}
					<th style="border:3px; border-style:solid; border-color:#11FF00; padding: 1em;">
						<h3><a href="{{url_for('.item_page', item_id = user.posts[i].id)}}">{{user.posts[i].body}}</a>
						- ${{user.posts[i].price}}{% if user.posts[i].is_auction %} (auction){% endif %}</h3>
						<p style="font-weight:normal"> Posted on: {{user.posts[i].timestamp}}</p>
						<p><img src="http://127.0.0.1:5000/static/img/{{user.posts[i].filelink}}"width="300" height="300"</p>
						<link rel="stylesheet" href="{{ url_for('static', filename='star.css') }}">
							<div class="rate">
								<p>Rating: 
								<input type="radio" id="star5" name="rate" value="5" />
								<label for="star5" title="text">5 stars</label>
								<input type="radio" id="star4" name="rate" value="4" />
								<label for="star4" title="text">4 stars</label>
								<input type="radio" id="star3" name="rate" value="3" />
								<label for="star3" title="text">3 stars</label>
								<input type="radio" id="star2" name="rate" value="2" />
								<label for="star2" title="text">2 stars</label>
								<input type="radio" id="star1" name="rate" value="1" />
								<label for="star1" title="text">1 star</label>
								</p>
							</div>	
					</th>
				</tr>
			{% endfor %} </table> <br><br><hr><br><br>
		{% endfor %}
        </center>
    </body>
</html>
