<html>
    <head>
        <title>CMPE131</title>
		<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
	</head>
    <body>
        {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
            <ul class=flashes>
            {% for category, message in messages %}
              <li class="{{ category }}">{{ message }}</li>
            {% endfor %}
            </ul>
          {% endif %}
        {% endwith %}
        <h1>User: {{user.username}}</h1>
        <h1>Email: {{email}}</h1>
        <h2>Post: {% for p in user.posts%}</h2>
        <h3>{{p.body}} - Time: {{p.timestamp}}</h3> 
        {% endfor %}
        <h2>Add Post: </h2>
        <form action=""method="POST">
            <textarea type="text" name="post" rows="4" cols="50" placeholder="Post"></textarea>
            <br />
            <input type="submit" value="submit">
            
        </form>

        <br/><br/><br/>
		<a href="{{url_for('all')}}">See all Items for sale</a>
		<br/><br/>
        <a href="{{url_for('search')}}">Search for specific item</a>
		<br/><br/><br/>
        <p>Logged in!</p>
        <a href="{{url_for('logout')}}">Logout</a>
        <br/><br/><br/>
        <a href="{{url_for('deleteAccount')}}">Delete Account?</a>
    </body>
</html>
